# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unity Developer Technical Test.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Guilherme S\Desktop\Stuff\UnityProjects\_Projects\Unity Developer Technical Test\.idea\.idea.Unity Developer Technical Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
